@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
table{border-collapse:collapse;border-spacing:0;border:0 none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
button{border:0 none;background-color:transparent;cursor:pointer}
a{color:#4c4c4c;text-decoration:none}
/* a:active,a:hover{text-decoration:underline} */
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
html,body{height:100%}
img{vertical-align:middle}
legend,.hide{width:1px;height:1px;line-height:0;position:absolute;left:-5000px;top:-5000px;z-index:-100;text-indent:-2000px}
/* legend{*display:none} */
caption{font-size:0;width:0;height:0;line-height:0;text-indent:-9999px}
*{-webkit-text-size-adjust:none}
input::-ms-clear{display:none}

body{overflow-y:scroll;font-size:13px;line-height:120%;font-family:Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;color:#4c4c4c;-webkit-tap-highlight-color:transparent}
input, select, textarea{font-size:13px;line-height:120%;font-family:Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;outline:0;color:#4c4c4c}

/* Layout */
#wrap{min-width:1200px;height:100%}
#container{position:relative;width:100%;max-width:1143px;min-height:100%;margin:0 auto}
#content.full{margin:0}

/* Align */
.al_l{text-align:left}
.al_r{text-align:right}
.al_c{text-align:center}

/* Button - Box */
.btnbox{overflow:hidden;margin-top:20px;text-align:center}
.btn{display:inline-block;/* padding:0 10px;min-width:72px; */padding:0 15px;min-width:62px;height:40px;line-height:40px;border:0;background-color:#e2e2e2;color:#454545;text-align:center;vertical-align:middle;/* transition:all 0.3s ease */}
.btn.confirm{background-color:#ff3b57;color:#fff}
.btn:hover{background-color:#c0c0c0}
.btn.active, .btn:active{background-color:#ff3b57;color:#fff}
.btn.confirm:hover{background-color:#d9324a}
.btn.active.confirm, .btn.confirm:active{background-color:#c01623}

.tbl_wrap .btn:hover, .tbl_wrap .btn:focus{text-decoration:none}
.tbl_list{width:100%;table-layout:fixed;font-size:13px;line-height:20px;text-align:center;border-top:1px solid #000;border-bottom:1px solid #b3b3b3}
.tbl_list thead{}
.tbl_list thead th{height:42px;border-bottom:1px solid #000}
.tbl_list tbody td{padding:10px 0 11px;border-top:1px solid #e1e1e1}
.tbl_list tbody tr:first-child td{border-top:0}
.tbl_list tbody td a{}
.tbl_list tbody td a:hover, .tbl_list tbody td a:focus{text-decoration:underline}
.tbl_list tbody .noti td{background-color:#fff3e2}
.tbl_list tbody .btn{min-width:53px;height:26px;line-height:26px;padding:0 5px;border:1px solid #b3b3b3;background-color:transparent;border-radius:3px}
.tbl_list tbody .btn:hover{border-color:#d2d2d2;background-color:#e6e6e6}
.tbl_list tbody .btn:active{border-color:#ff3b57;background-color:#ff3b57;color:#fff}

/* 설치 프로그램 */
.program{padding:30px 60px 80px}
.program strong{display:block;padding-top:44px;font-weight:normal;font-size:28px;line-height:32px;color:#333;text-align:center}
.program .desc{margin-top:24px;font-size:15px;line-height:24px;text-align:center}
.program .desc span{color:#ff3b57}
.program .tbl_wrap{margin-top:36px}
.program .tbl_list tbody th{font-weight:normal;font-size:15px;color:#333;border-top:1px solid #e1e1e1}
.program .tbl_list tbody tr:first-child th{border-top:0}
.program .tbl_list tbody td{padding-left:30px;padding-right:30px}
.program .tbl_list tbody th, .program .tbl_list tbody td{padding-top:18px;padding-bottom:18px}
.program .tbl_list tbody td a.link{font-weight:bold;color:#39779f;text-decoration:underline}
.program .tbl_list tbody .btn{position:relative;min-width:20px;padding-left:30px;padding-right:8px;text-align:right}
.program .tbl_list tbody .btn:before{content:'';display:block;position:absolute;left:10px;top:50%;margin-top:-6px;width:15px;height:12px;background:url(../images/common/ico_install.png) no-repeat left top}
.program .tbl_list tbody .btn:active:before{background-position:0 -12px}